* text=auto
*.patch text eol=lf whitespace=-space-before-tab,-trailing-space
*.sh text eol=lf
files/etc/uci-defaults/41_uhttpd_proxy_linkease text eol=lf
*.sh text eol=lf
feeds.d/* text eol=lf
packages/*.conf text eol=lf
*.yml text eol=lf
apps/** text eol=lf
files/** text eol=lf
scripts/** text eol=lf
diy-part2.d/** text eol=lf
